#header-background{
    transform: translateZ(-10px) scale(2);
    transform-origin: top left;
    z-index: -10;
    position: absolute;
}

#header-midground{
    transform: translateZ(-5px) scale(1.5);
    transform-origin: top left;
    z-index: -5;
    position: absolute;
}

.pause{
    animation-play-state: paused !important;
}

@keyframes foreground-pan{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(5/6 * -100%));
    }
}

@keyframes midground-pan{
    from{
        transform: translateX(0) translateZ(-5px) scale(1.5);
        transform-origin: top left;
    }
    to{
        transform: translateX(-50%) translateZ(-5px) scale(1.5);
        transform-origin: top center;
    }
}